html,body{
    height: 100%;
    margin: 0;
}
body{
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas{
    outline: 1px solid white;
}
#score{
    color: aliceblue;
}